body {
  margin: 0;
  padding: 0;
}

#container {
  display: flex;
  flex-direction: column;
}

/* TODO make it responsive */
.top {
  height: 50vh;
  background-color: #333333;
  color: #ffffff;
  text-align: center;
}
.top img {
  height: 75%;
  position: relative;
  top: 1em;
  filter: invert();
}
.top h1 {
  position: relative;
  bottom: .2em;
  font-size: 3em;
}

.bottom {
  height: 50vh;
  text-align: center;
  font-size: 1.5em;
}
